@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font: 14px/20px "Lato", Arial, sans-serif;
}

.converter-color__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.result-wrapper {
  display: flex;
  width: 170px;
  height: 48px;
  background-color: #000;
  color: #fff;
  opacity: .4;
  justify-content: center;
  align-items: center;
}

input.hex2-input {  
  justify-content: center;
  width: 170px;
  border: 1px solid #121212;
  padding: 0;
  outline: none;
  text-align: center;
}

.input-wrapper {
  display: flex;
  width: 170px;
  height: 48px;
  margin-bottom: 5px;
}